[[source]]
url = "https://pypi.org/"
verify_ssl = true

[packages]
keras = "*"
scikit-learn = "*"
splinter = "*"
selenium = "*"
scikit-image = "*"
matplotlib = "*"
h5py = "*"
tensorflow = "*"
requests = "*"
numpy = "*"
pillow = "*"
